*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    transition: 0.5s;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D1A2D;
    color: white;
}

main{
    background-color: #15273F;
    padding: 20px;
    border-radius: 10px;
}

.main-img{
    background-color: hsl(178, 100%, 50%);
    height: 290px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 16, 47, 0.412);
    cursor: pointer;
    position: relative;
}

.main-img:hover .nft-img{
    opacity: 0.5;
}

.main-img:hover .icon-view{
    display: initial;
}

.nft-img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.icon-view{
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    display: none;
}

.main-title{
    font-size: 1.2rem;
    margin: 20px 0;
}

.main-title:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.main-description{
    max-width: 25ch;
    margin-bottom: 20px;
    line-height: 1.3;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.currency-period{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.currency{
    font-weight: 600;
    color: hsl(178, 100%, 50%);
    position: relative;
    margin-left: 20px;
}

.currency::before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 15px;
    background: url(images/icon-ethereum.svg) no-repeat;
    position: absolute;
    left: -18px;
    top: 1px;
}

.period{
    color: hsl(215, 51%, 70%);
    position: relative;
    font-weight: 300;
}

.period::before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 15px;
    background: url(images/icon-clock.svg) no-repeat;
    position: absolute;
    left: -25px;
    top: 1px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    border-top: 1px solid #1f3656;
}

.profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.profile-img{
    max-width: 100%;
    height: auto;
}

.profile p{
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.artist-name{
    color: white;
    font-weight: 300;
}

.artist-name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}



