*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 750px){
    body{
        height: auto;
    }

    main{
        grid-template-columns: 1fr;
    }
}